/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/global.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
/* background contenedor body */
body{
  background-color: #696b9a20;
}
/* .css-1je17zp-MuiContainer-root {
  background-color: #696b9a47;
} */

thead {
  background-color: #696b9a14;
}

td.MuiTableCell-root{
  border-bottom: solid 1px #d6d6d6;
}


.css-13biwtz{
  align-content: center;
}
.css-1ttl4nx-MuiPaper-root-MuiAppBar-root{
  border-bottom: 1px solid #F3F4F6;
}

/* search input */
.css-lzp2ke {
  padding: 0px 4px;
  display: flex;
  align-items: center;
  width: 550px;
  height: 30px;
  border: solid 1px #ddd;
  border-radius: 5px;
}

.css-1l5qmek-MuiButtonBase-root-MuiButton-root:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: #623192;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}


